body {
		background-color: #BBB193;
	
}
#image {
	max-width: 100%;
	width: 30vw;
	height: auto;
	display: block;
	margin:0 auto;
	border-radius: 50%;
	border-width: 1.5px;
	border-style: solid;
	border-color: #685F74;
}
img:hover{
	transform: scale(1.02);
}

@media only screen and (max-width: 800px) {
	#image {
		width: 40vw;
	}
	p {
		font-size: 16px;
	}
}
#title {
	font-family: monospace;
	text-align: center;
	color: #F6F0ED;
	padding-top: 9px;
	font-size: 36px;
}
header {
	height: 10vh;
	background-color: #28536B;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#img-caption {
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
}
#tribute-info {
	float: left;
	background-color: #F5F5F5;
	text-align: justify;
}
#tribute-info p{
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: 'Slabo', sans-serif;
}
footer {
	background-color: #F5F5F5;
	padding-bottom: 5px;
}
footer p {
	margin-left: 5vw;
	margin-right: 5vw;
	font-family: 'Slabo', sans-serif;
}
h2 {
	font-family: 'Aleo', monospace;
	font-size: 32px;
	text-align: center;
	padding-top: 20px;
}
p {

	font-size: 20px;
}