section {
  padding-top: 10vh;
	margin-right: 5vw;
	margin-left: 5vw;

}
header{
	display: flex;
	height: 12vh;
  	padding-bottom: 10px;
	align-items: center;
	background-color: #F4F6F9;
	font-family: 'Baloo Thambi', cursive;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
}

#header-img {
  padding-top: 15px;
  height: 12vh;
}
h1 {
	font-family: 'Baloo Thambi', cursive;

} 
#logo {
	display: inline-flex;
	align-items: center;
	width: 60vw;
}
#logo p {
	font-size: 36px;
	padding-left: 30px;
	top: 0;
}

#nav-bar ul li {
	font-size: 22px;
	padding-right: 10px;
  display: inline;
	list-style: none;
}
#nav-bar ul {
	margin-right: 10vw;

}
#nav-bar a {
	color: black;
	text-decoration: none;
}
@media (max-width: 425px){
	header {
		flex-direction: column;
		display: inline;
		left: 0;
		height:10vh;

	}
	#header-img {
		display: none;

	}
	#logo {
		width: 100vw;
		text-align: center;
	}
	#logo p {
		margin-top: 0vh;
		padding-left: 0px;
		font-size: 26px;
		width: 100%;
		margin-bottom: 0px;
	}
	#nav-bar ul{
		text-align: center;
    margin-top: 0px;
	}

	
}
#presentation_image {
  overflow: hidden;
  
}
#presentation_image img{
  	text-align: center;
  	height: 100vh;
}

section h1 {
	text-align: center;
}
section {
	margin-top: 30px;

}
#material {
	display: grid;
	grid-template-areas:
	"title title"
	"paragraph image";
	grid-column-gap: 30px;
}
#material p {
	grid-area: paragraph;
	font-size: 20px;
	margin-top: 36px;
	text-align: justify; 
}
#material h1 {
	grid-area: title;
}

#material img {
	grid-area: image;
	width: 30vw;
	height: auto;
}
#about p {
	font-size: 20px;
}
.shirtitem {
	width: 20vw;
	border-style: solid;
	border-color: black;
	margin:0 auto;
	text-align: center;
	margin-bottom: 20px;
}
#products {
	margin-right: 10vw;
	margin-left: 10vw;
}

#shirts {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.shirtimage {
	max-width: 100%;
	height: auto;

}

#video {
	max-width: 100%;
	margin: 0 auto;
	display: block;

}

.shirtitem button {
	margin-bottom: 20px;

}
@media (max-width: 800px) {
	#shirts{
		grid-template-columns: 1fr;

	}
	.shirtitem {
		width: 80vw;

	}
	#material {
		grid-template-areas:
		"title"
		"paragraph"
		"image";
	} 
	#material img {
		width: 90vw;
		height: auto;

	}
}

#form {
	text-align: center;
}
#form input {
	font-size: 20px;
	border-radius: 10%;
	margin-bottom: 30px;
}
