body {
  font-family: 'Karla', serif;
  
}
p {
	margin-bottom: 48px;
}
section {
	padding-top: 10vh;
	margin-right: 10vw;	
	margin-left: 10vw;
	margin-bottom: 48px;

}
h1, h2{
  font-family: 'Rubik', sans-serif;
}

header{
	display: flex;
	height: 12vh;
  	padding-bottom: 10px;
	align-items: center;
	background-color: #F4F6F9;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	box-shadow: 0px 1px 6px rgba(0,0,0,.4);
}

#header-img {
  padding-top: 15px;
  height: 12vh;
}
#logo {
	display: inline-flex;
	align-items: center;
	width: 60vw;
}

#logo p {
	font-size: 36px;
	padding-left: 30px;
	top: 0;
}

#nav-bar ul li {
	font-size: 22px;
	margin-right: 10px;
  	display: inline;
	list-style: none;
}
#nav-bar ul li:hover {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: black;
	



}
#nav-bar a {
	color: black;
	text-decoration: none;
}
@media (max-width: 425px){
	#presentation_image .description h1{
		font-size: 1.5em;
	}
	header {
		flex-direction: column;
		display: inline;
		left: 0;
		height:10vh;

	}
	#header-img {
		display: none;

	}
	#logo {
		width: 100vw;
		text-align: center;
	}
	#logo p {
		margin-top: 0vh;
		padding-left: 0px;
		font-size: 26px;
		width: 100%;
		margin-bottom: 0px;
	}
	#nav-bar ul{
		text-align: center;
    	margin-top: 0px;
		padding-left: 0px;
	}
}
#presentation_image {
  overflow: hidden;
  position: relative;
  z-index: -1;

}
#presentation_image:after {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0,0,0,0.01);

}
#presentation_image .description {
	position: absolute;
	top: 40%;
	color: white;
	text-align: center;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}

#presentation_image img{
	height: 100vh;
	width: 100vw;
	filter: grayscale(0%) blur(1px);
}

section h1 {
	text-align: center;
}
section {
	margin-top: 30px;

}
#material {
	display: grid;
	grid-template-areas:
	"title title"
	"paragraph image";
	grid-column-gap: 30px;
}
#material p {
	grid-area: paragraph;
	font-size: 20px;
	margin-top: 36px;
	 
}
#material h1 {
	grid-area: title;
}

#material img {
	grid-area: image;
	width: 30vw;
	height: auto;
}
#about p {
	font-size: 20px;
}
.shirtitem {
	width: 20vw;
	border-style: solid;
	border-color: black;
	margin:0 auto;
	text-align: center;
	margin-bottom: 20px;
}


#shirts {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.shirtimage {
	max-width: 100%;
	height: auto;

}

#video {
	max-width: 100%;
	margin: 0 auto;
	display: block;

}

.shirtitem button {
	margin-bottom: 20px;

}
@media (max-width: 800px) {
  section {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
  }
	#shirts{
		grid-template-columns: 1fr;

	}
	.shirtitem {
		width: 80vw;

	}
	#material {
		grid-template-areas:
		"title"
		"paragraph"
		"image";
	} 
	#material img {
		width: 90vw;
		height: auto;

	}
}

#form {
	text-align: center;
}
#form input {
	font-size: 20px;
	border-radius: 10%;
	margin-bottom: 30px;
}

.select_btn {
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  background-color: #9B7E46;
  padding: 12px;
  color: #F1F7F0;
  box-shadow: 0 6px 0px #554527, 0px 3px 15px rgba(0,0,0,.4), 
  inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  border: none;
  border-radius: 10%;
  cursor: pointer;
  
}
.select_btn:active {
   box-shadow: 0px 3px 0 #554527;
   transform: translateY(2px);
  
}