header{
	display: flex;
	height: 19vh;
	padding-bottom: 30px;
	align-items: center;
	background-color: #F4F6F9;
	font-family: 'Baloo Thambi', cursive;
	justify-content: space-between;
}
@media (max-width: 425px){
	header {
		flex-direction: column;
		display: inline;
	}
	header #logo {

	}
}
#logo {
	display: inline-flex;
	align-items: center;
}
#logo p {
	font-size: 36px;
	padding-left: 30px;

}

#nav-bar ul li {
	font-size: 22px;
	padding: 15px;
	display: inline;
	list-style: none;
}
#nav-bar ul {
	margin-right: 10vw;

}
#nav-bar a {
	color: black;
	text-decoration: none;
}
#presentation_image{
	margin-left: 3vw;
	margin-right: 3vw;
	max-height: 78vh;
	max-width: 100%;
	overflow: hidden;
}

section h1 {
	text-align: center;
}

.shirtitem {
	width: 30vw;
	height: 30vh;
	border-style: solid;
	border-color: black;
}

#shirts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}
@media (max-width: 425px) {
	#shirts {
		grid-template-columns: 1fr;
	}
	.shirtitem{
		width: 90vw;
		height: 90vh;
		margin:0 auto;
	}

}